body {
    background-color: black;
    color: white;
}
@media screen and (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}
img {
    width: 100%;
    height: auto;
}
