body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Helvetica, 'Helvetica Neue', Tahoma, Geneva, Verdana, sans-serif
}
@media screen and (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
        color: black;
    }
}
img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
